In [23]:
from dashpackage.models import Concert, Artist, Genre, Venue
from dashpackage import db
from sqlalchemy import func
import plotly.graph_objs as go
import plotly.plotly as py
from dashpackage.routes import *

In [18]:
abc =db.session.query(Genre.name, func.count(Genre.name)).join(Concert).join(Venue).group_by(Genre.name).filter(Venue.borough == "Manhattan").all()

2018-11-14 10:28:54,459 INFO sqlalchemy.engine.base.Engine SELECT genres.name AS genres_name, count(genres.name) AS count_1
FROM genres JOIN concerts ON genres.id = concerts.genre_id JOIN venues ON venues.id = concerts.venue_id
WHERE venues.borough = ? GROUP BY genres.name
2018-11-14 10:28:54,460 INFO sqlalchemy.engine.base.Engine ('Manhattan',)

In [19]:
genres = []
values = []
for tuples in abc:
    genres.append(tuples[0])
    values.append(tuples[1])

['Alternative',
 'Blues & Jazz',
 'Classical',
 'Country',
 'Cultural',
 'Dance/Electronic',
 'Folk',
 'Hip-Hop/Rap',
 'Indie',
 'Latin',
 'Metal',
 'Opera',
 'Other',
 'Pop',
 'R&B',
 'Reggae',
 'Religious',
 'Rock',
 'World']

In [29]:
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
top_genres_borough("Manhattan")

2018-11-14 10:47:02,045 INFO sqlalchemy.engine.base.Engine SELECT genres.name AS genres_name, count(genres.name) AS count_1
FROM genres JOIN concerts ON genres.id = concerts.genre_id JOIN venues ON venues.id = concerts.venue_id
WHERE venues.borough = ? GROUP BY genres.name
2018-11-14 10:47:02,046 INFO sqlalchemy.engine.base.Engine ('Manhattan',)

[('Alternative', 6),
 ('Blues & Jazz', 447),
 ('Classical', 93),
 ('Country', 18),
 ('Cultural', 6),
 ('Dance/Electronic', 38),
 ('Folk', 16),
 ('Hip-Hop/Rap', 174),
 ('Indie', 9),
 ('Latin', 45),
 ('Metal', 19),
 ('Opera', 13),
 ('Other', 73),
 ('Pop', 109),
 ('R&B', 78),
 ('Reggae', 22),
 ('Religious', 33),
 ('Rock', 342),
 ('World', 32)]

In [30]:
db.session.query(Venue.neighborhood, func.avg(Concert.minimum_price)).join(Venue).filter(Venue.neighborhood == neighborhood).first()

InvalidRequestError: Can't join table/selectable 'venues' to itself

In [34]:
db.session.query(Venue.neighborhood, func.avg(Concert.minimum_price)).join(Concert).group_by(Venue.neighborhood).filter(Venue.neighborhood != None).all()

2018-11-14 15:04:21,774 INFO sqlalchemy.engine.base.Engine SELECT venues.neighborhood AS venues_neighborhood, avg(concerts.minimum_price) AS avg_1
FROM venues JOIN concerts ON venues.id = concerts.venue_id
WHERE venues.neighborhood IS NOT NULL GROUP BY venues.neighborhood
2018-11-14 15:04:21,779 INFO sqlalchemy.engine.base.Engine ()

[('Bushwick and Williamsburg', 16.49089655172414),
 ('Central Brooklyn', 58.9171974522293),
 ('Central Harlem', 22.732558139534884),
 ('Chelsea and Clinton', 38.0459584295612),
 ('East New York and New Lots', 10.0),
 ('Flatbush', 40.05),
 ('Gramercy Park and Murray Hill', 27.67737430167598),
 ('Greenpoint', 15.634615384615385),
 ('Greenwich Village and Soho', 20.7225),
 ('High Bridge and Morrisania', 20.0),
 ('Hunts Point and Mott Haven', 20.0),
 ('Inwood and Washington Heights', 40.111111111111114),
 ('Lower East Side', 19.143286713286713),
 ('Lower Manhattan', 53.0),
 ('Northwest Brooklyn', 33.7195652173913),
 ('Northwest Queens', 33.785714285714285),
 ('Sunset Park', 11.25),
 ('Upper East Side', 118.57142857142857),
 ('Upper West Side', 45.353960396039604),
 ('West Central Queens', 15.0),
 ('West Queens', 15.894499999999999)]

In [35]:
db.session.query(Venue.latitude, Venue.longitude).join(Concert).filter(Concert.minimum_price == 0).all()

2018-11-14 17:10:12,156 INFO sqlalchemy.engine.base.Engine SELECT venues.latitude AS venues_latitude, venues.longitude AS venues_longitude
FROM venues JOIN concerts ON venues.id = concerts.venue_id
WHERE concerts.minimum_price = ?
2018-11-14 17:10:12,161 INFO sqlalchemy.engine.base.Engine (0,)

[(40.76497005, -73.99607813),
 (40.742333, -73.9837858),
 (40.742333, -73.9837858),
 (40.742333, -73.9837858),
 (40.742333, -73.9837858),
 (40.728333, -73.9822),
 (40.680406, -73.962379),
 (40.680362, -73.96241900000001),
 (40.718558, -73.98933299999999),
 (40.76401389999999, -73.99763740000003),
 (40.7532551, -73.98836240000003),
 (40.76401389999999, -73.99763740000003),
 (40.7640706, -73.9975569),
 (40.76401389999999, -73.99763740000003),
 (40.6749687, -73.97597810000002),
 (40.7394577, -73.88433409999999),
 (40.766805, -73.996215),
 (40.76401389999999, -73.99763740000003),
 (40.76401389999999, -73.99763740000003),
 (40.766805, -73.996215),
 (40.7291916, -74.00079419999997),
 (40.680406, -73.962379),
 (40.74107300000001, -73.99293),
 (40.8175043, -73.95140750000002),
 (40.76401389999999, -73.99763740000003),
 (40.749605, -73.98301320000002),
 (40.7394577, -73.88433409999999),
 (40.74862999999999, -73.86993000000001),
 (40.7394577, -73.88433409999999),
 (40.7851519, -73.97571670000002),
 (40.74107300000001, -73.99293),
 (40.7666757, -73.99622999999997),
 (40.6825611, -73.96569929999998),
 (40.80988969999999, -73.9430911),
 (40.7559705, -73.92105179999999),
 (40.7264453, -73.9520197),
 (40.766805, -73.996215),
 (40.766805, -73.996215),
 (40.822211, -73.94599299999999),
 (40.822211, -73.94599299999999),
 (40.759487, -73.97108700000001),
 (40.76401389999999, -73.99763740000003),
 (40.76401389999999, -73.99763740000003),
 (40.7394577, -73.88433409999999),
 (40.7073436, -73.95413150000002),
 (40.7099556, -73.96271669999999),
 (40.75606179999999, -73.99734799999999),
 (40.76401389999999, -73.99763740000003),
 (40.76401389999999, -73.99763740000003),
 (40.7217244, -73.9932124),
 (40.7259185, -73.9839725),
 (40.7666757, -73.99622999999997),
 (40.76401389999999, -73.99763740000003),
 (40.728369, -73.99917629999999),
 (40.65017299999999, -73.95501200000001),
 (40.8044337, -73.95592340000002),
 (40.766805, -73.996215),
 (40.7421872, -74.00382139999999),
 (40.74107300000001, -73.99293),
 (40.766805, -73.996215),
 (40.80988969999999, -73.9430911),
 (40.7559705, -73.92105179999999),
 (40.80988969999999, -73.9430911),
 (40.7217244, -73.9932124),
 (40.766805, -73.996215),
 (40.766805, -73.996215),
 (40.7559705, -73.92105179999999),
 (40.76401389999999, -73.99763740000003),
 (40.7496106, -73.98293050000001),
 (40.766805, -73.996215),
 (40.7576542, -73.98340889999997),
 (40.711123, -73.96635800000001),
 (40.80988969999999, -73.9430911),
 (40.80988969999999, -73.9430911),
 (40.76401389999999, -73.99763740000003),
 (40.68051869999999, -73.96237459999998),
 (40.7496106, -73.98293050000001),
 (40.7743088, -73.98390970000003),
 (40.80988969999999, -73.9430911),
 (40.671206, -73.96363100000002),
 (40.7394577, -73.88433409999999),
 (40.76401389999999, -73.99763740000003),
 (40.76401389999999, -73.99763740000003),
 (40.7394577, -73.88433409999999),
 (40.741072, -73.99293),
 (40.759487, -73.97108700000001),
 (40.7532456, -73.9884639),
 (40.76401389999999, -73.99763740000003),
 (40.766805, -73.996215),
 (40.7533, -73.9884),
 (40.7616616, -73.98656310000001),
 (40.766805, -73.996215),
 (40.76401389999999, -73.99763740000003),
 (40.749605, -73.98301320000002),
 (40.678322, -73.95842300000004),
 (40.7217244, -73.9932124),
 (40.7532456, -73.9884639),
 (40.76401389999999, -73.99763740000003),
 (40.766805, -73.996215),
 (40.77565269999999, -73.98131769999998),
 (40.766805, -73.996215),
 (40.678322, -73.95842300000004),
 (40.72276830000001, -73.99446239999997),
 (40.8218724, -73.94036779999999),
 (40.753615, -73.99204199999997),
 (40.680362, -73.96241900000001),
 (40.678097, -73.93883570000003),
 (40.7217244, -73.9932124),
 (40.7217244, -73.9932124),
 (40.74107300000001, -73.99293),
 (40.74107300000001, -73.99293),
 (40.759487, -73.97108700000001),
 (40.7138256, -73.93409919999999),
 (40.7291916, -74.00079419999997),
 (40.7532456, -73.9884639),
 (40.68051869999999, -73.96237459999998),
 (40.7939625, -73.9728154),
 (40.72921710000001, -74.0112972),
 (40.7142193, -73.9558328),
 (40.7217244, -73.9932124),
 (40.76401389999999, -73.99763740000003),
 (40.7138256, -73.93409919999999),
 (40.7532456, -73.9884639),
 (40.7214414, -73.99317830000001),
 (40.76401389999999, -73.99763740000003),
 (40.7214414, -73.99317830000001),
 (40.7532551, -73.98836240000003),
 (40.7532551, -73.98836240000003),
 (40.7394577, -73.88433409999999),
 (40.7532551, -73.98836240000003),
 (40.72921710000001, -74.0112972),
 (40.72921710000001, -74.0112972),
 (40.7138256, -73.93409919999999),
 (40.7640706, -73.9975569),
 (40.7138256, -73.93409919999999),
 (40.747773, -73.99336499999998),
 (40.7735004, -73.98460990000001),
 (40.7214414, -73.99317830000001),
 (40.76401389999999, -73.99763740000003),
 (40.76401389999999, -73.99763740000003),
 (40.65689769999999, -74.00205590000002),
 (40.6759631, -73.9844807),
 (40.7559705, -73.92105179999999),
 (40.766805, -73.996215),
 (40.7640706, -73.9975569),
 (40.7532551, -73.98836240000003),
 (40.734666, -73.98876710000002),
 (40.734666, -73.98876710000002),
 (40.6703108, -73.93003479999999),
 (40.8012472, -73.94851269999998),
 (40.7741641, -73.98484259999998),
 (40.7735489, -73.98454989999999),
 (40.6759631, -73.9844807),
 (40.7395802, -74.00735829999996),
 (40.76401389999999, -73.99763740000003),
 (40.76401389999999, -73.99763740000003),
 (40.678322, -73.95842300000004),
 (40.74118170000001, -73.99319539999999),
 (40.74307, -74.005716),
 (40.7214414, -73.99317830000001),
 (40.680362, -73.96241900000001),
 (40.7347292, -73.99189360000003),
 (40.7689, -73.9129),
 (40.766805, -73.996215),
 (40.7666757, -73.99622999999997),
 (40.68051869999999, -73.96237459999998),
 (40.7552144, -73.98830850000002),
 (40.65689769999999, -74.00205590000002),
 (40.6759631, -73.9844807),
 (40.7111, -73.9664),
 (40.7188561, -73.99494219999997),
 (40.7214414, -73.99317830000001),
 (40.766805, -73.996215),
 (40.766805, -73.996215),
 (40.72921710000001, -74.0112972),
 (40.709373, -74.00832579999997),
 (40.7214414, -73.99317830000001),
 (40.7214414, -73.99317830000001),
 (40.7217244, -73.9932124),
 (40.680362, -73.96241900000001),
 (40.766805, -73.996215),
 (40.7138256, -73.93409919999999),
 (40.7214414, -73.99317830000001),
 (40.7532551, -73.98836240000003),
 (40.7394577, -73.88433409999999),
 (40.6803718, -73.96245090000002),
 (40.73451379999999, -73.99195950000001),
 (40.7147484, -73.99355609999998),
 (40.680362, -73.96241900000001),
 (40.6785007, -73.9833014)]